@import "_colors";
@import "_fonts";
@import "_mixins";

// contains global styling
@import "_global";

// To add additional scss files
// create the .scss file within /src/assets/scss
// then place an "@import "";" tag below

// @import "scss file name";